<% include ./partials/header1 %>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">
						<header>
							<span class="avatar"><img src="img/LGilchrist-7532.jpg" height="150" width="150" alt="" /></span>
							<h1>Lafayette Gilchrist<br>& The New Volcanoes</h1>
							<p>Your Favorite Baltimore, MA-Based. Jazz Band</p>
						</header>


						<footer>
							<ul class="icons">
								<a class="btn btn-ghost" href="/home">Let's Explore!</a>
							</ul>
							<ul class="icons">
								<a class="btn btn-ghost" href="/login">Login</a>
							</ul>
						</footer>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; 2018 Developed by</li><li>Timbr Technologies</li>
						</ul>
					</footer>
				</div>

		<!-- Scripts -->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>
</html>
